<Kinect2KitSetup>
    <Server>
        <Address>localhost</Address>
        <Port>8000</Port>
    </Server>
    <Clients>
        <Client>
            <Name>TestClient</Name>
            <Address>127.0.0.1</Address>
            <TiltAngle>0.00</TiltAngle>
            <Height>1.00</Height>
        </Client>
    </Clients>
</Kinect2KitSetup>